<section class="final" id="sec4">
            <h4 id="tit5"><i class="fas fa-clinic-medical"></i>Dirección</h4>
            <p>Av.10 de Diciembre y Roldoz,Quito,Ecuadoe</p>
            <br>
            <h4 id="tit6"><i class="fas fa-envelope-open-text"></i>Email</h4>
            <p>PanQuisquillon69@gmail.com</p>
            <br>
            <h4 id="tit7"><i class="fas fa-mobile-alt"></i>Teléfono</h4>
            <p>+593 3542 758</p>
    </section>
