 <main>
        <section id="section1">
          <div class="img"> <br></div> 
          <div class="texto">
              <p id="titulo">La casa del mejor pan</p>
              <h2>El placer esta aquí </h2>
              <p>Panadería 100% deliciosa con los mejores panes del sector</p>
              <p>El producto echo con amor con manos de los mejores panaderos 100% garantizado</p>
              <button>Mas Informacion</button>
         </div>
        </section>